<h2>Hola {{ name }}</h2>
<p>Has solicitado recuperar tu contraseña. Haz click en el siguiente enlace:</p>
<a href="http://presupuestos.local/recovery?email={{ user.email }}&token={{ token }}">Recuperar contraseña</a>
<p>Si no lo solicitaste, ignora este correo.</p>
